<h2>Home</h2>
<form id="solr-query" action=" ">
  <div class="form-group">
    <input id="title-field" class="form-control" name="title" type="text" placeholder="Card Title">
    <input class="btn btn-primary" type="submit" value="Query">
  </div>
  <div id="results">
    <h2>{{ name }}</h2>
    <div>{{ image }}</div>
    <p>{{text}}</p>
    <h2>Information</h2>
    <table>
      <td>{{cmc}}</td>
      {{#each colors}}
        <td>{{ colors}}</td>
      {{/each}}
      <td>{{power}}</td>
      <td>{{toughness}}</td>
      {{#each subtypes}}
        <td>{{ subtypes}}</td>
      {{/each}}
      <td>{{rarity}}</td>
    </table>
  </div>
</form>

