<div id="results">
    {{#each docs}}
      <div>
        <h2>{{ name_txt_en }}</h2>
        <div>{{ image }}</div>
        <h3>Information</h3>
        <p>{{text_txt_sort}}</p>
        <table>
          <tr><th>costs</th></tr>
          <tr><td>{{cmc_i}}</td></tr>
          {{#each colors_txt_sort}}
            <tr><th>color</th></tr>
            <tr><td>{{this}}</td></tr>
          {{/each}}
          <tr><th>power</th></tr>
          <tr><td>{{power_i}}</td></tr>
          <tr><th>toughness</th></tr>
          <tr><td>{{toughness_i}}</td></tr>
          {{#each subtypes_txt_sort}}
            <tr><th>types</th></tr>
            <tr><td>{{this}}</td></tr>
          {{/each}}
          <tr><th>rarity</th></tr>
          <tr><td>{{rarity_txt_en}}</td></tr>
        </table>
      </div>
    {{/each}}

  </div>
